alabaster==0.7.12
Babel==2.8.0
backcall==0.1.0
bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
ConfigArgParse==1.1
configargparser==0.0.2
coverage==5.0.3
dateutils==0.6.7
decorator==4.4.2
dnspython==1.16.0
docutils==0.16
et-xmlfile==1.0.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
ipython==7.16.3
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
keyring==21.2.0
MarkupSafe==1.1.1
nose==1.3.7
openpyxl==3.0.3
packaging==20.3
parso==0.6.2
pickleshare==0.7.5
pkginfo==1.5.0.1
prompt-toolkit==3.0.4
Pygments==2.6.1
pymongo==3.10.1
pymongoimport==1.5.8b3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
semvermanager==1.0.9
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.0
tqdm==4.43.0
traitlets==4.3.3
twine==3.1.1
urllib3==1.26.5
wcwidth==0.1.8
webencodings==0.5.1
zipp==3.1.0
